<%- include layout/header.ejs  %>
<div class="container">
<div class="well">
    <form class="form-horizontal" action="/admin/login/auth" method="post">
        <legend>Sign in</legend>
        <div class="control-group">
          <label class="control-label" for="inputEmail">Email:</label>
          <div class="controls">
            <input type="text" id="inputEmail" name="username" placeholder="Email">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputPassword">Password:</label>
          <div class="controls">
            <input type="password" id="inputPassword" name="password" placeholder="Password">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox"> Remember me
            </label>
            <button type="submit" class="btn btn-success">Sign in</button><a href="/admin/register" class="register">Register</a>
          </div>
        </div>
    </form>
</div>
</div>
<%- include layout/footer.ejs  %>        