<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href='/stylesheets/bootstrap.min.css' />
    <link rel="stylesheet" type="text/css" href='/stylesheets/font-awesome.min.css' />
    <link rel="stylesheet" type="text/css" href='//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css' />
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href='/stylesheets/font-awesome-ie7.min.css' /><![endif]-->


    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" language="javascript"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.2/jquery-ui.js" language="javascript"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js" language="javascript"></script>
    <script type="text/javascript" src="/javascripts/global.js" language="javascript"></script>

  </head>
  <body>
    <div class="container">
        <h1 style="text-align:center; color:#6f2c91;"><%= title %></h1>
        <h2 style="text-align:center; color:#999999;">Coming Soon....</h2>
    </div>
  </body>
</html>