        </div>
        <hr />
        <div class="container footer">            
            <a href="">Terms &amp; Conditions</a></span>
            <a href="">Privacy Policy</a></span>
            <b class="pull-right">&copy; <span class="brand">OhWomaniya</span></b>
        </div>
  </body>
</html>